
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h2 {
    margin-left: 10px;
}

/* h2:hover::before { */
h2::before {
    content: "> "
}
/* Set additional styling options for the columns */
.column {
float: left;
}

/* Set width length for the left, right and middle columns */
.left {
width: 30%;
}

.middle {
width: 30%;
}

.right {
width: 30%;
}

.row:after {
content: "";
display: table;
clear: both;
}